{{ form_start(form, { 'attr': {'id': 'form'} }) }}

<div class="col">
    <div class="card mb-6">
        <div class="bg_color_default px-0 pt-0">
            <div class="nav-align-top">
                <ul class="tab_nav-menu nav nav-tabs" role="tablist">
                    <li class="tab_nav-item nav-item active">
                        <button type="button" class="tab_nav-link nav-link active" data-bs-toggle="tab"
                                data-bs-target="#form-tabs-a1" aria-controls="form-tabs-a1" role="tab"
                                aria-selected="true">
                            <i class="bi bi-phone me-2"></i>
                            <span class="d-none d-sm-block">Contact Detail</span>
                        </button>
                    </li>
                    <li class="tab_nav-item nav-item">
                        <button type="button" class="tab_nav-link nav-link" data-bs-toggle="tab"
                                data-bs-target="#form-tabs-a2" aria-controls="form-tabs-a2" role="tab"
                                aria-selected="false">
                            <i class="bi bi-geo-alt me-2"></i>
                            <span class="d-none d-sm-block">Address</span>
                        </button>
                    </li>
                    <li class="tab_nav-item nav-item">
                        <button type="button" class="tab_nav-link nav-link" data-bs-toggle="tab"
                                data-bs-target="#form-tabs-a3" aria-controls="form-tabs-a3" role="tab"
                                aria-selected="false">
                            <i class="bi bi-share me-2"></i>
                            <span class="d-none d-sm-block">Social Links</span>
                        </button>
                    </li>
                    <li class="tab_nav-item nav-item">
                        <button type="button" class="tab_nav-link nav-link" data-bs-toggle="tab"
                                data-bs-target="#form-tabs-a4" aria-controls="form-tabs-a4" role="tab"
                                aria-selected="false">
                            <i class="bi bi-gear me-2"></i>
                            <span class="d-none d-sm-block">Site Setting</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card-body">
            <div class="tab-content p-0">
                <!-- Contact Detail Tab -->
                <div class="tab-pane fade active show" id="form-tabs-a1" role="tabpanel">
                    <div class="row g-6">
                        <!-- Phone Numbers -->
                        <div class="col-md-6">
                            <fieldset class="p-3 rounded-2 mb-4 mt-2">
                                <legend class="float-none w-auto px-2 fs-6">
                                    <i class="bi bi-phone me-2"></i>
                                    Phone Numbers
                                </legend>
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <label class="form-label">Phone 1</label>
                                        {{ form_widget(form.phone1, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': ''
                                            }
                                        }) }}
                                        {{ form_errors(form.phone1) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">
                                            <i class="bi bi-whatsapp text-success me-1"></i>
                                            Phone 2 (WhatsApp)
                                        </label>
                                        {{ form_widget(form.phone2, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': ''
                                            }
                                        }) }}
                                        {{ form_errors(form.phone2) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Phone 3</label>
                                        {{ form_widget(form.phone3, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': ''
                                            }
                                        }) }}
                                        {{ form_errors(form.phone3) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Phone 4</label>
                                        {{ form_widget(form.phone4, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': ''
                                            }
                                        }) }}
                                        {{ form_errors(form.phone4) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Phone 5</label>
                                        {{ form_widget(form.phone5, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': ''
                                            }
                                        }) }}
                                        {{ form_errors(form.phone5) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- Email Addresses -->
                        <div class="col-md-6">
                            <fieldset class="p-3 rounded-2 mb-4 mt-2">
                                <legend class="float-none w-auto px-2 fs-6">
                                    <i class="bi bi-envelope me-2"></i>
                                    Email Addresses
                                </legend>
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <label class="form-label">
                                            <i class="bi bi-envelope-fill text-danger me-1"></i>
                                            Primary Email
                                        </label>
                                        <div class="input-group input-group-merge">
                                            {{ form_widget(form.email1, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': ''
                                                }
                                            }) }}
                                        </div>
                                        {{ form_errors(form.email1) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Email 2</label>
                                        <div class="input-group input-group-merge">
                                            {{ form_widget(form.email2, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': ''
                                                }
                                            }) }}
                                        </div>
                                        {{ form_errors(form.email2) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Email 3</label>
                                        <div class="input-group input-group-merge">
                                            {{ form_widget(form.email3, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': ''
                                                }
                                            }) }}
                                        </div>
                                        {{ form_errors(form.email3) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Email 4</label>
                                        <div class="input-group input-group-merge">
                                            {{ form_widget(form.email4, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': ''
                                                }
                                            }) }}
                                        </div>
                                        {{ form_errors(form.email4) }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Email 5</label>
                                        <div class="input-group input-group-merge">
                                            {{ form_widget(form.email5, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': ''
                                                }
                                            }) }}
                                        </div>
                                        {{ form_errors(form.email5) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <!-- Address Tab -->
                <div class="tab-pane fade" id="form-tabs-a2" role="tabpanel">
                    <div class="row g-6">
                        <!-- Full Address -->
                        <div class="col-md-6">
                            <fieldset class="p-3 rounded-2 mb-4 mt-2">
                                <legend class="float-none w-auto px-2 fs-6">
                                    <i class="bi bi-geo-alt me-2"></i>
                                    Full Address
                                </legend>
                                <div class="row g-4">
                                    <div class="col-12">
                                        {{ form_widget(form.address, {
                                            'attr': {
                                                'class': 'form-control',
                                                'rows': '5',
                                                'placeholder': 'Enter your complete address including street, city, state, and postal code'
                                            }
                                        }) }}
                                        {{ form_errors(form.address) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- Google Map -->
                        <div class="col-md-6">
                            <fieldset class="p-3 rounded-2 mb-4 mt-2">
                                <legend class="float-none w-auto px-2 fs-6">
                                    <i class="bi bi-geo-alt-fill me-2"></i>
                                    Google Map Link
                                </legend>
                                <div class="row g-4">
                                    <div class="col-12">
                                        {{ form_widget(form.map, {
                                            'attr': {
                                                'class': 'form-control',
                                                'rows': '5',
                                                'placeholder': 'Paste your Google Maps embed code or link here'
                                            }
                                        }) }}
                                        {{ form_errors(form.map) }}
                                        <small class="form-text text-muted">
                                            <i class="bi bi-info-circle me-1"></i>
                                            You can get this from Google Maps > Share > Embed a map
                                        </small>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <!-- Social Links Tab -->
                <div class="tab-pane fade" id="form-tabs-a3" role="tabpanel">
                    <div class="row g-6">
                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <i class="bi bi-facebook text-primary me-2"></i>
                                Facebook
                            </label>
                            {{ form_widget(form.fb, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://facebook.com/yourpage'
                                }
                            }) }}
                            {{ form_errors(form.fb) }}
                        </div>

                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <i class="bi bi-instagram text-danger me-2"></i>
                                Instagram
                            </label>
                            {{ form_widget(form.insta, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://instagram.com/youraccount'
                                }
                            }) }}
                            {{ form_errors(form.insta) }}
                        </div>

                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path fill="#32D99C" d="M12.006 4.295c-2.67 0-5.338.784-7.645 2.353H0l1.963 2.135a5.997 5.997 0 0 0 4.04 10.43a5.98 5.98 0 0 0 4.075-1.6L12 19.705l1.922-2.09a5.97 5.97 0 0 0 4.072 1.598a6 6 0 0 0 6-5.998a5.98 5.98 0 0 0-1.957-4.432L24 6.648h-4.35a13.57 13.57 0 0 0-7.644-2.353M12 6.255c1.531 0 3.063.303 4.504.903C13.943 8.138 12 10.43 12 13.1c0-2.671-1.942-4.962-4.504-5.942A11.7 11.7 0 0 1 12 6.256zM6.002 9.157a4.059 4.059 0 1 1 0 8.118a4.059 4.059 0 0 1 0-8.118m11.992.002a4.057 4.057 0 1 1 .003 8.115a4.057 4.057 0 0 1-.003-8.115m-11.992 1.93a2.128 2.128 0 0 0 0 4.256a2.128 2.128 0 0 0 0-4.256m11.992 0a2.128 2.128 0 0 0 0 4.256a2.128 2.128 0 0 0 0-4.256" />
                                </svg>
                                TripAdvisor
                            </label>
                            {{ form_widget(form.tripadv, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://tripadvisor.com/your-listing'
                                }
                            }) }}
                            {{ form_errors(form.tripadv) }}
                        </div>

                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <i class="bi bi-twitter text-info me-2"></i>
                                Twitter
                            </label>
                            {{ form_widget(form.tw, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://twitter.com/youraccount'
                                }
                            }) }}
                            {{ form_errors(form.tw) }}
                        </div>

                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <i class="bi bi-youtube text-danger me-2"></i>
                                YouTube
                            </label>
                            {{ form_widget(form.yt, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://youtube.com/yourchannel'
                                }
                            }) }}
                            {{ form_errors(form.yt) }}
                        </div>

                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <i class="bi bi-linkedin text-primary me-2"></i>
                                LinkedIn
                            </label>
                            {{ form_widget(form.linkedin, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://linkedin.com/in/yourprofile'
                                }
                            }) }}
                            {{ form_errors(form.linkedin) }}
                        </div>

                        <div class="col-md-6 pb-4">
                            <label class="form-label">
                                <i class="bi bi-telegram text-info me-2"></i>
                                Telegram
                            </label>
                            {{ form_widget(form.telegram, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'https://t.me/youraccount'
                                }
                            }) }}
                            {{ form_errors(form.telegram) }}
                        </div>
                    </div>
                </div>

                <!-- Site Settings Tab -->
                <div class="tab-pane fade" id="form-tabs-a4" role="tabpanel">
                    <div class="row g-6">
                        <!-- Site Description -->
                        <div class="col-md-6">
                            <fieldset class="p-3 rounded-2 mb-4 mt-2">
                                <legend class="float-none w-auto px-2 fs-6">
                                    <i class="bi bi-pencil-square me-2"></i>
                                    Site Description
                                </legend>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <label class="form-label">Site Title</label>
                                        {{ form_widget(form.sitetitle, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Your Website Title'
                                            }
                                        }) }}
                                        {{ form_errors(form.sitetitle) }}
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Site Link</label>
                                        {{ form_widget(form.sitelink, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'https://yourwebsite.com'
                                            }
                                        }) }}
                                        {{ form_errors(form.sitelink) }}
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Opening Time</label>
                                        {{ form_widget(form.opentime, {
                                            'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Mon - Sat: 10:00 AM - 5:00 PM'
                                            }
                                        }) }}
                                        {{ form_errors(form.opentime) }}
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Site Keywords</label>
                                        {{ form_widget(form.sitekeyword, {
                                            'attr': {
                                                'class': 'form-control',
                                                'rows': '4',
                                                'placeholder': 'keyword1, keyword2, keyword3, etc.'
                                            }
                                        }) }}
                                        {{ form_errors(form.sitekeyword) }}
                                        <small class="form-text text-muted">
                                            <i class="bi bi-info-circle me-1"></i>
                                            Separate keywords with commas
                                        </small>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label">Site Description</label>
                                        {{ form_widget(form.sitedescription, {
                                            'attr': {
                                                'class': 'form-control',
                                                'rows': '5',
                                                'placeholder': 'Brief description of your website for search engines'
                                            }
                                        }) }}
                                        {{ form_errors(form.sitedescription) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- Site Media -->
                        <div class="col-md-6">
                            <fieldset class="p-3 rounded-2 mb-4 mt-2">
                                <legend class="float-none w-auto px-2 fs-6">
                                    <i class="bi bi-images me-2"></i>
                                    Site Media
                                </legend>
                                <div class="row g-4">
                                    <div class="col-6">
                                        <div class=" bg-light py-1 px-3 border border-primary rounded-4 mb-4">
                                            <label class="form-label">
                                                Favicon
                                                <span class="badge bg-info">512 x 512 px</span>
                                            </label>
                                            {% if imageUrl_favicon is defined %}
                                                {{ form_widget(form.favicon, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'data-show-remove':"false",
                                                    'data-default-file': asset('images/WebsiteAssets/' ~ (imageUrl_favicon ?? ''))
                                                }}) }}
                                            {% else %}
                                                {{ form_widget(form.favicon, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                }}) }}
                                            {% endif %}
                                            {{ form_errors(form.favicon) }}
                                            <small class="form-text text-muted">
                                                <i class="bi bi-info-circle me-1"></i>
                                                Recommended: ICO, PNG format
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class=" bg-light py-1 px-3 border border-primary rounded-4 mb-4">
                                            <label class="form-label">
                                                Logo 1
                                                <span class="badge bg-light text-dark">Light version</span>
                                            </label>
                                            {% if imageUrl_logo1 is defined %}
                                                {{ form_widget(form.logo1, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'data-show-remove':"false",
                                                    'data-default-file': asset('images/WebsiteAssets/' ~ (imageUrl_logo1 ?? ''))
                                                }}) }}
                                            {% else %}
                                                {{ form_widget(form.logo1, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                }}) }}
                                            {% endif %}
                                            {{ form_errors(form.logo1) }}
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class=" bg-light py-1 px-3 border border-primary rounded-4 mb-4">
                                            <label class="form-label">
                                                Logo 2
                                                <span class="badge bg-dark">Dark version</span>
                                            </label>
                                            {% if imageUrl_logo2 is defined %}
                                                {{ form_widget(form.logo2, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'data-show-remove':"false",
                                                    'data-default-file': asset('images/WebsiteAssets/' ~ (imageUrl_logo2 ?? ''))
                                                }}) }}
                                            {% else %}
                                                {{ form_widget(form.logo2, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true'
                                                }}) }}
                                            {% endif %}
                                            {{ form_errors(form.logo2) }}
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class=" bg-light py-1 px-3 border border-primary rounded-4 mb-4">
                                            <label class="form-label">
                                                Logo 3
                                                <span class="badge bg-light text-dark">Light Horizontal</span>
                                            </label>
                                            {% if image_url is defined %}
                                                {{ form_widget(form.logo3, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'data-show-remove':"false",
                                                    'data-default-file': asset('images/WebsiteAssets/' ~ (imageUrl_logo_dark ?? '')),
                                                    'disabled': 'disabled'
                                                }}) }}
                                            {% else %}
                                                {{ form_widget(form.logo3, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'disabled': 'disabled'
                                                }}) }}
                                            {% endif %}
                                            {{ form_errors(form.logo3) }}
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class=" bg-light py-1 px-3 border border-primary rounded-4 mb-4">
                                            <label class="form-label">
                                                Logo 4
                                                <span class="badge bg-dark">Dark Horizontal</span>
                                            </label>
                                            {% if image_url is defined %}
                                                {{ form_widget(form.logo4, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'data-show-remove':"false",
                                                    'data-default-file': asset('images/WebsiteAssets/' ~ (imageUrl_logo_dark ?? '')),
                                                    'disabled': 'disabled'
                                                }}) }}
                                            {% else %}
                                                {{ form_widget(form.logo4, {'attr': {
                                                    'class': 'dropify_file_input',
                                                    'data-max-file-size': '1M',
                                                    'data-allowed-file-extensions': 'jpg jpeg gif svg png webp',
                                                    'data-show-loader': 'true',
                                                    'disabled': 'disabled'
                                                }}) }}
                                            {% endif %}
                                            {{ form_errors(form.logo4) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="pt-1">
                    {#<button type="submit" class="btn btn-primary me-4">
                        <i class="bi bi-check2 me-2"></i>
                        {{ button_label|default('Save Changes') }}
                    </button>#}

                    <button class="btn btn-light-info" id="submitBtn" type="submit">
                        <span id="submitText">{{ button_label|default('Save') }}</span>
                        <span id="submitSpinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </span>
                    </button>

                    {#<button type="reset" class="btn btn-label-secondary">
                        <i class="bi bi-arrow-clockwise me-2"></i>
                        Reset Form
                    </button>#}
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}


{# JavaScript for enhanced form functionality #}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Form validation
        const form = document.querySelector('.needs-validation');
        if (form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            });
        }

        // Tab navigation with validation state preservation
        const tabButtons = document.querySelectorAll('.tab_nav-link');
        const tabPanes = document.querySelectorAll('.tab-pane');

        tabButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Remove active class from all tabs and panes
                tabButtons.forEach(function(btn) {
                    btn.classList.remove('active');
                    btn.parentElement.classList.remove('active');
                });
                tabPanes.forEach(function(pane) {
                    pane.classList.remove('active', 'show');
                });

                // Add active class to clicked tab
                this.classList.add('active');
                this.parentElement.classList.add('active');

                // Show corresponding pane
                const targetPane = document.querySelector(this.getAttribute('data-bs-target'));
                if (targetPane) {
                    targetPane.classList.add('active', 'show');
                }
            });
        });

        // Auto-format phone numbers
        const phoneInputs = document.querySelectorAll('input[type="tel"]');
        phoneInputs.forEach(function(input) {
            input.addEventListener('input', function(e) {
                let value = e.target.value.replace(/\D/g, '');
                if (value.length > 0) {
                    if (value.length <= 5) {
                        value = value.replace(/(\d{0,5})/, '$1');
                    } else if (value.length <= 10) {
                        value = value.replace(/(\d{0,5})(\d{0,5})/, '$1 $2');
                    } else {
                        value = value.replace(/(\d{0,3})(\d{0,5})(\d{0,5})/, '+$1 $2 $3');
                    }
                    e.target.value = value.trim();
                }
            });
        });

        // URL validation helper
        const urlInputs = document.querySelectorAll('input[type="url"]');
        urlInputs.forEach(function(input) {
            input.addEventListener('blur', function(e) {
                const value = e.target.value.trim();
                if (value && !value.startsWith('http://') && !value.startsWith('https://')) {
                    e.target.value = 'https://' + value;
                }
            });
        });

        // File input preview (for logo uploads)
        const fileInputs = document.querySelectorAll('input[type="file"]');
        fileInputs.forEach(function(input) {
            input.addEventListener('change', function(e) {
                const file = e.target.files[0];
                if (file) {
                    // Remove any existing preview
                    const existingPreview = input.parentElement.querySelector('.file-preview');
                    if (existingPreview) {
                        existingPreview.remove();
                    }

                    // Create preview for images
                    if (file.type.startsWith('image/')) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            const preview = document.createElement('div');
                            preview.className = 'file-preview mt-2';
                            preview.innerHTML = `
                            <img src="${e.target.result}" alt="Preview" style="max-width: 100px; max-height: 100px; border-radius: 4px; border: 1px solid #dee2e6;">
                            <small class="d-block text-muted mt-1">${file.name} (${(file.size / 1024).toFixed(1)} KB)</small>
                        `;
                            input.parentElement.appendChild(preview);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });
        });
    });
</script>


